/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 70px; /* Add padding equal to navbar height */
}

/* Main content wrapper styles */
.content-wrapper {
  min-height: calc(100vh - 70px); /* Subtract navbar height from viewport height */
  width: 100%;
  position: relative;
}
